Pillow==7.0.0
protobuf==3.11.3
PyAutoGUI==0.9.50
pycparser==2.20
PyGetWindow==0.0.8
pylint==2.3.1
PyMsgBox==1.0.7
pyparsing==2.4.6
pyperclip==1.8.0
PyQt5==5.14.1
PyQt5-sip==12.7.1
PyRect==0.1.4
PyScreeze==0.1.26
python-dateutil==2.8.1
PyTweening==1.0.3
requests==2.23.0
selenium==3.141.0
